* {
    box-sizing: border-box;
  }

  *{
    font-family: 'Didact Gothic', sans-serif;
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.img-1{

    height: 250px;
    width: 250px;
   
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;´
}


section{
    height: 90vh;
}

section#hero{
    background-color: rgb(21, 19, 42);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: aliceblue;
}

h2{
    font-size: 2rem;
    text-align: center;
    color: aliceblue;
}

h3{
    font-size: 1rem;
    text-align: center;
    color: aliceblue;
}

.proyects-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-detail{
    border: 5px solid darkslategrey;
    border-radius: 10px;
    width: 300px;
    margin: 20px;
}

.project-detail img{
    width: 100%;
}

header{
    position: sticky;
    top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(14, 13, 28);
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li{
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: rgb(21, 19, 42);
    color: aliceblue;
}

main{
    background-color: rgb(14, 13, 28);
}
 p{
    color: aliceblue;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
 }

 h3{
    color: aliceblue;
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
 }
 
 a{
    color: aliceblue;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
 }

 .contact{
    color: aliceblue;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
 }

 form{
    color: aliceblue;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
 }